QUICKBITE_DB_PASSWORD=change_me
RAZORPAY_KEY_ID=rzp_test_replace_me
RAZORPAY_KEY_SECRET=replace_me
QUICKBITE_JWT_SECRET=replace_me
QUICKBITE_JWT_EXPIRATION=86400000
GOOGLE_CLIENT_ID=replace_me
GOOGLE_CLIENT_SECRET=replace_me
